.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b5afc6;
  color: #b5afc6;
  padding: 0.7rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgb(204, 204, 210);
  transition: transform 1s;
}

.card:hover {
  transform: scale(1.1);
}

.card-title {
  position: absolute;
  font-size: 2vw;
  font-weight: bold;
  text-shadow: 3px 3px #59365c;
}

.card-label {
  position: absolute;
  top: 30%;
  font-size: 2vw;
  font-weight: bolder;
  text-shadow: 3px 3px #59365c;
  font-size: 2.5vw;
}

.card-background {
  height: 35vh;
  width: 28vw;
  object-fit: cover;
  border-radius: 1rem;
}

@media only screen and (max-width: 1200px) {
  .card-background {
    height: 45vw;
    width: 40vw;
  }

  .card-title {
    font-size: 4vw;
  }

  .card-label {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 800px) {
  .card-background {
    height: 45vw;
    width: 80vw;
  }

  .card-title {
    font-size: 6vw;
  }
}
